<div id="siteNav">
  <h1>Where do you want to go?</h1>
  <ul>
    <li><a href="/tours" title="Our tours">Tours <br /><span class="tagline">follow our bliss</span></a>
      <ul>
        <li><a href="/tours" title="Our tours">All Tours</a></li>
        <li><a href="/tours" title="find tours">Tours by Activity</a></li>
        <li><a href="/tours" title="find tours">Tours by Region</a></li>
        <li><a href="/tours." title="find tours">Tour Finder</a></li>
      </ul>
    </li>
    <li><a href="/mission" title="What we believe">Mission <br /><span class="tagline">what makes us different?</span></a></li>
    <li><a href="/resources" title="planning resources">Resources <br /><span class="tagline">plan your  A trip</span></a>
      <ul>
        <li><a href="/resources/faq" title="Got questions?">Tour FAQs</a></li>
        <li><a href="/resources/additional_resources" title="additional resources">Tour Information</a></li>
        <li><a href="/resources/terms" title="terms and conditions">Site Terms</a></li>
      </ul>
    </li>
    <li><a href="/explorers" title="Our community">Explorers <br /><span class="tagline">join our community</span></a>
      <ul>
        <li><a href="/explorers/join" title="join our community">Join the Explorers</a></li>
        <li><a href="/blog/index" title="read our blog!">Read our Blog</a></li>
        <li><a href="/explorers/gallery" title="contributor photos">Tour Photos</a></li>
        <li><a href="/explorers/video" title="check out our podcast">Video podcast</a></li>
      </ul>
    </li>
    <li><a href="/contact" title="contact us">Contact <br /><span class="tagline">we're listening</span></a>
      <ul>
        <li><a href="/support" title="need help?">Support</a></li>
      </ul>
    </li>
  </ul>
</div>
