<div id="mainContent">
  <div id="contentHeader" class="hasCrumbs">
    <h1>The Explorers</h1>
    <div id="subLinks">
      <ul>
        <li><a href="/explorers/join" title="join our community">Join the Explorers</a></li>
        <li><a href="/blog/index" title="read our blog!"> Blog</a></li>
        <li><a href="/explorers/gallery" title="contributor photos">Tour Photos</a></li>
        <li><a href="/explorers/video" title="check out our podcast">Video podcast</a></li>
      </ul>
    </div>
  </div>
  <div id="mainArticle">
    <h1>Come make a few friends</h1>
    <img src="assets/images/bikes.jpg" alt="Come join us!" class="articleImage" />
    <div class="multiCol">
      <p>The Explorers are a community of people who love to travel, love California, and want to share their journeys and experiences with others. Joining is free, so if you haven't signed up yet, <a href="/explorers/join">do so now!</a></p>
      <p>Joining up will make you eligible for discounts, extra tour goodies, exclusive side excursions, and other super-secret fun stuff! It's also a great way of making friends. We have Explorers-only gatherings where you can meet, mingle, and form friendships with other touring enthusisasts!</p>
      <p>Best of all...joining is absolutely free!</p>

      <h2>So...what can you do?</h2>
      <p>When you sign up, you'll be able to write articles for our <a href="http://www.explorecalifornia.org/blog">blog</a>, submit your photos in the <a href="/explorers/gallery">photo gallery</a>, and you'll receive special members-only deals on all upcoming Explore California tours! You also get priority seating and quick check-in! Heck, if you go on enough tours, we might even have you guide a few for us!</p>
      <p>If you're going to one of our overnight tours, you'll receive a special hospitality gift when you check into your hotel. We also make sure that you're always booked for late checkout. How's that for cool?</p>
      <p>You'll also want to check out our monthly <a href="/explorers/podcast">video podcast</a>. It includes in-depth looks at the places you can visit on Explore California tours, tour showcases, and occasionally features surprise guests. If our cameras catch you on an Explore California tour, you could be a part of it too!</p>

      <h2>One more thing...</h2>
      <p>Oh yeah, one more thing... once you join you'll receive our super-secret decoder ring (no kidding)! On many of our tours, your decoder ring can be used to unlock cool new trails or Explore California goodie packs!</p>
    </div>
  </div>
</div>

<div id="secondaryContent">
  <div id="specials" class="callOut">
    <h1>Monthly Specials</h1>
    <h2 class="top"><img src="assets/images/calm_bug.gif" alt="California Calm" width="75" height="75" />California Calm</h2>
    <p>Day Spa Package <br />
      <a href="/tours/tour_detail_cycle">$250</a></p>
    <h2><img src="assets/images/desert_bug.gif" alt="From desert to sea" width="75" height="75" />From Desert to Sea</h2>
    <p>2 Day Salton Sea <br />
      <a href="/tours/tour_detail_cycle">$350</a></p>
    <h2><img src="assets/images/backpack_bug.gif" alt="Backpack Cal" width="75" height="41" />Backpack Cal</h2>
    <p>Big Sur Retreat <br />
      <a href="/tours/tour_detail_cycle">$620</a></p>
    <h2><img src="assets/images/taste_bug.gif" alt="Taste of California" width="75" height="75" />Taste of California</h2>
    <p>Tapas &amp; Groves <br />
      <a href="/tours/tour_detail_taste">$150</a></p>
  </div>
  <div id="trivia" class="callOut">
    <h1>Did You Know?</h1>
    <p>California produces over 17 million gallons of wine each year!</p>
  </div>
</div>

<div id="pageFooter">
  <div id="quickLinks">
    <h1>Quick Nav</h1>
    <ul id="quickNav">
      <li><a href="/index" title="Our home page">Home</a></li>
      <li><a href="/tours" title="Explore our tours">Tours</a></li>
      <li><a href="/mission" title="What we think">Mission</a></li>
      <li><a href="/resources" title="Guidance and planning">Resources</a></li>
      <li><a href="/explorers" title="Join our community">Explorers</a></li>
      <li><a href="/contact" title="Contact and support">Contact</a></li>
    </ul>
  </div>
